.body-container {
  width: 1280px;
  margin: 0 auto;
  padding: 60px 0 30px 0;
}

.page-body {
  font-family: "Roboto", sans-serif;
}

.logo {
  text-decoration: none;
  color: #3181a6;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}
.logo > span {
  color: #0c1927;
}

.navbar {
  margin-top: 40px;
}

.main-header {
  margin-bottom: 50px;
}

.page-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 54px;
}
.main-content {
  width: 885px;
}

.main-img-container {
  display: flex;
  justify-content: end;
}

.main-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.main-text {
  margin: 35px 0 0;
  font-size: 18px;
  line-height: 24px;
}

.main-menu {
  background-color: #35444f;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.menu-item {
  border-right: 1px solid #ffffff;
}

.menu-item:hover {
}
.menu-item:first-child {
  border-left: 1px solid #ffffff;
}
.menu-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 40px;
  display: block;
}
.menu-link:hover {
  background-color: #222f3a;
}
.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid #000000;
  margin-bottom: 25px;
}

.main-img {
  height: 380px;
}

.sidebar-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 344px;
  border: 1px solid #000000;
}

.sidebar-item {
}

.sidebar-link {
  text-decoration: none;
  color: #495863;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: block;
  padding-top: 25px;
  padding-left: 45px;
  padding-bottom: 30px;
}

.sidebar-link:hover {
  color: #000000;
  padding-left: 85px;
  background-color: #dbdbdb;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #63696e7a;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  gap: 30px;
  padding-left: 0;
}

.footer-item {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  color: #010101;
  font-size: 28px;
  line-height: 28px;
}
.footer-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
}
